
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for MyModel</h1>

<f:flashMessages />

<table  class="tx_jkufolderselector"  border="1" >
	<tr>
		<th><f:translate key="tx_jkufolderselector_domain_model_mymodel.title" /></th>
		<th><f:translate key="tx_jkufolderselector_domain_model_mymodel.folder" /></th>
	</tr>

	<f:for each="{myModels}" as="myModel">
		<tr>
			<td><f:link.action action="show" arguments="{myModel : myModel}"> {myModel.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{myModel : myModel}"> {myModel.folder}</f:link.action></td>
		</tr>
	</f:for>
</table>

</f:section>
